<div class="row">
  <div class="col-md-3 " *ngFor="let order of orders">
    <div class="card text-white bg-dark mb-3" style="width: 100%">
      <div class="card-body ">
        <h5 class="card-title">{{order.item}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{order.id}}</h6>
        <p class="card-text">{{order.customer}}</p>
        <p class="card-text">{{order.destination}}</p>
      </div>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item text-white bg-dark mb-3">
          <div class="row">
            <p class="col-6" style="text-align: left"><b>Event:</b></p>
            <p class="col-6" style="text-align: right">{{order.event_name}}</p>
          </div>
        </li>
        <li class="list-group-item text-white bg-dark mb-3">
          <div class="row">
            <p class="col-6" style="text-align: left"><b>Price:</b></p>
            <p class="col-6" style="text-align: right">{{order.price}}</p>
          </div>
        </li>
        <li class="list-group-item text-white bg-dark mb-3">
          <div class="row">
            <p class="col-6" style="text-align: left"><b>Sent:</b></p>
            <p class="col-6" style="text-align: right">{{order.sent_at_second}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
